* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
}

.border-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px solid #fff;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 5px 7px 7px 4px #c7c7c7;
          box-shadow: 5px 7px 7px 4px #c7c7c7;
}

.border-menu__item {
  border: 3px solid #fff;
  list-style-type: none;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  font-size: 40px;
  width: 100%;
  -webkit-box-shadow: 10px 7px 7px 4px #edebeb;
          box-shadow: 10px 7px 7px 4px #edebeb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.border-menu__item:hover {
  background-color: #fff;
  border: 3px solid rgba(36, 36, 35, 0.737);
  color: black;
  cursor: pointer;
}

.border-menu__item:active {
  background-color: #fff;
  border: 3px solid #2f2d1b;
  color: black;
  cursor: pointer;
  padding: 5px;
  width: 60%;
  font-size: 30px;
}

.circle-look-up {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid red;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.square-look-up {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid red;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.triangle-look-up {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.circle-look-down {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid blue;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.square-look-down {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid blue;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.triangle-look-down {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid blue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.circle-look-up:active,
.square-look-up:active {
  background-color: red;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.triangle-look-up:active {
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.circle-look-down:active,
.square-look-down:active {
  background-color: blue;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.triangle-look-down:active {
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

#showUnit {
  position: fixed;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  color: #fff;
  padding: 20px;
  background-color: #595754;
  -webkit-box-shadow: 3px 3px 14px 3px;
          box-shadow: 3px 3px 14px 3px;
  font-size: 20px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#showUnit:hover {
  -webkit-box-shadow: 7px 6px 9px 7px aquamarine;
          box-shadow: 7px 6px 9px 7px aquamarine;
}

#showUnit:active {
  padding: 25px 30px 25px 30px;
  -webkit-box-shadow: 7px 6px 9px 7px aquamarine;
          box-shadow: 7px 6px 9px 7px aquamarine;
}

.pre-move-point {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #adadad;
  background-color: #adadad;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.attack-move-point {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid red;
  background-color: #ff0202;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
